# Node dependencies
node_modules/

# Build output
dist/

# Logs
logs/
*.log

# Environment variables
.env

# MacOS system files
.DS_Store

# Postman files
*.postman_environment.json

# VSCode settings
.vscode/

# TS/JS cache
*.tsbuildinfo


